<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Document</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="topnav">
            
            <a href="{{ url_for('index') }}">Home</a>
            <a href="">page 2</a>
            <a href="">Page 3</a>
            <a href="{{ url_for('About') }}">About</a>
        </div>
    </body>
</html>
<style>

</style>